.bike-info {
    padding-top: 140px;
    padding-bottom: 140px;

    @include mobile {
        padding-top: 100px;
    }

    &__title {
        position: relative;

        &::before {
            content: '';
            position: absolute;
            width: 400px;
            aspect-ratio: 1;
            top: -50%;
            left: 13%;
            background: linear-gradient(120deg, #FC501F 12.77%, rgba(252, 80, 31, 0.00) 59.51%);
            filter: blur(140px);
            z-index: -1;
        }
    }

    &__list {
        position: relative;
        display: flex;
        justify-content: space-between;
        column-gap: 40px;
        padding-block: 60px 30px;

        @include desktop {
            padding-block: 30px;
        }

        @include tablet {
            column-gap: 15px;
        }

        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 2px;
            top: 50%;
            left: 0;
            background-color: var(--color-grey);
            opacity: 0.4;
            z-index: -1;

            @include desktop {
                top: 42%;
            }

            @media (max-width: 1232px) {
                top: 37%;
            }

            @media (max-width: 1011px) {
                top: 35%;
            }

            @media (max-width: 960px) {
                top: 33%;
            }
        }

        &::before {
            content: '';
            position: absolute;
            width: 46%;
            height: 2px;
            top: 50%;
            left: 0;
            background-color: var(--color-accent);

            @include desktop {
                top: 42%;
            }

            @media (max-width: 1232px) {
                top: 37%;
            }

            @media (max-width: 1011px) {
                top: 35%;
            }

            @media (max-width: 960px) {
                top: 33%;
            }
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        gap: 30px;

        &:not(:first-child) {
        opacity: 0.4;
        }
    }

    &__subtitle {

        @include tablet {
            font-size: 14px;
        }

        @media (max-width: 831px) {
            font-size: 12px;
        }
    }

    &__description {
        letter-spacing: -0.14px;
    }

    &__images {
        display: flex;
        column-gap: 40px;

        & img {
        border-radius: 20px;
        flex: 1;
        object-fit: cover;
        min-width: 0;
        }

        &-second {
            width: 360px;
            height: 300px; 
        }
    }

    &__mobile {
        &-title {
            font-size: 30px;
            line-height: 1.1;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                width: 400px;
                aspect-ratio: 1;
                top: -50%;
                left: 20%;
                background: linear-gradient(120deg, #FC501F 12.77%, rgba(252, 80, 31, 0.00) 59.51%);
                filter: blur(140px);
                z-index: -1;
            }

            @include mobile-s {
                font-size: 25px;
            }
        }

        &-list {
            padding-top: 40px;
            display: flex;
            flex-direction: column;
            row-gap: 40px;

            @include mobile-s {
                row-gap: 20px;
            }
        }

        &-item {
            display: flex;
            flex-direction: column;
            row-gap: 15px;

            @include mobile-s {
                row-gap: 10px;
            }
        }

        &-subtitle {
            font-size: 20px;
            color: var(--color-accent);

            @include mobile-s {
                font-size: 16px;
            }
        }

        &-underline {
            width: 150px;
            height: 3px;
            border: none;
            background-color: var(--color-accent);
            align-self: flex-start;
            margin: 0;

            @include mobile-s {
                width: 100px;
            }
        }

        &-description {
            font-size: 14px;
            line-height: 1.6;
            letter-spacing: -0.14px;

            @include mobile-s {
                font-size: 12px;
                line-height: 1.7;
                letter-spacing: -0.12px;
            }
        }

        &-image {
            width: 100%;
            border-radius: 20px;
        }
    }
}