.burger-button {
    @include reset-button;
    @include square(54px);

    position: relative;
    background-color: var(--color-grey);
    border-radius: 50%;

    @include hover {
        background-color: var(--color-accent);
    }

    &::after {
        @include abs-center;

        content: '';
        width: 30%;
        height: 2px;
        background-color: currentColor;
        border-radius: 5px;
        box-shadow: 0 -5px, 0 5px;
    }
}