.button {
    @include flex-center(true);

    height: var(--buton-height);
    padding-inline: 35px;
    font-size: 16px;
    font-weight: 700;
    background-color: var(--color-light);
    color: var(--color-dark);
    border: none;
    border-radius: var(--border-radius);

    @include hover {
        background-color: var(--color-accent);
        color: var(--color-light);
    }
}