.cross-button {
    @include reset-button;
    @include square(54px);

    position: relative;
    background-color: var(--color-grey);
    border-radius: 50%;

    @include hover {
        background-color: var(--color-accent);
    }

    &::before,
    &::after {
        content: '';
        position: absolute;
        top: 26px;
        left: 12px;
        width: 55%;
        height: 2px;
        background-color: var(--color-dark);
        border-radius: 5px;
    }

    &::after {
        rotate: -45deg;
    }

    &::before {
        rotate: 45deg;
    }
}