.header {
    padding-top: 40px;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        width: 860px;
        aspect-ratio: 1;
        top: 0;
        left: 0;
        translate: 100% -100%;
        background-color: #FC501F;
        z-index: -3;
        flex-shrink: 0;
        border-radius: 50%;
        opacity: 0.5;
        filter: blur(140px);
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 80px;

        @include tablet {
            column-gap: 40px;
        }
    }

    &__logo-image {
        flex-shrink: 0;
    }

    &__menu {
        margin-right: auto;

        &-list {
            display: flex;
            align-items: center;
            column-gap: 40px;
        }

        &-link {
            position: relative;
            display: inline-flex;
            align-items: center;
            height: 48px;

            @include hover {
                &::after {
                    width: 100%;
                }
            }
            
            &::after {
                content: '';
                position: absolute;
                top: 100%;
                left: 50%;
                translate: -50%;
                width: 0;
                height: 2px;
                background-color: var(--color-accent);
                transition-duration: inherit;
            }
        }
    }

    &__button {
        @include tablet {
            padding-inline: 25px;
            font-size: 14px;
            height: 45px;
        }
    }
}