.header {
    padding-top: 40px;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 80px;
    }

    &__menu {
        margin-right: auto;

        &-list {
            display: flex;
            align-items: center;
            column-gap: 40px;
        }

        &-link {
            position: relative;
            display: inline-flex;
            align-items: center;
            height: 48px;

            @include hover {
                &::after {
                    width: 100%;
                }
            }
            
            &::after {
                content: '';
                position: absolute;
                top: 100%;
                left: 50%;
                translate: -50%;
                width: 0;
                height: 2px;
                background-color: var(--color-accent);
                transition-duration: inherit;
            }
        }
    }

    &__logo-image {
        flex-shrink: 0;
    }
}