.mobile-overlay {
    width: 100%;
    height: 100%;
    margin: 0;
    border: none;
    background-color: #222222;
    padding: 40px 20px;

    &:modal {
        max-width: 100%;
        max-height: 100%;
    }

    &__close-button-wrapper {
        display: flex;
        justify-content: end;
    }

    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__list {
        @include flex-center;

        flex-direction: column;
        row-gap: 30px;
        padding-block: 70px 30px;
        list-style: none;
    }

    &__link {
        color: var(--color-grey);
        font-size: 16px;
        position: relative;
        display: inline-flex;
        align-items: center;
        height: 48px;

        @include hover {
            &::after {
                 width: 100%;
            }
        }
            
        &::after {
            content: '';
            position: absolute;
            top: 100%;
            left: 50%;
            translate: -50%;
            width: 0;
            height: 2px;
            background-color: var(--color-accent);
            transition-duration: inherit;
        }
    }
}