body {
    @include fluid-text (14, 12);

    font-family: var(--font-family-base);
    font-weight: 400;
    line-height: 1.5;
    color: var(--color-grey);
    background-color: #222222;
}

a,
button,
input,
text,
textarea,
svg * {
    transition-duration: var(--transition-duration);
}

a {
    text-decoration: none;
    color: inherit;
}

h1, h2, h3, h4 {
    font-weight: 600;
}

h2 {
    font-weight: 500;

    @include mobile {
        font-weight: 600;
    }
}

h1 {
    @include fluid-text (80, 30);
}

h2 {
    @include fluid-text (45, 25);
}

h3 {
    @include fluid-text (20, 16);

    @include mobile-s {
        font-size: 16px;
    }
}

h4 {
    font-size: 20px;

    @include mobile-s {
        font-size: 16px;
    }
}