:root {
    --color-light: #FFFFFF;
    --color-dark: #151515;
    --color-grey: #F1F1F1;
    --color-accent: #FF4C0D;

    --border: 1px solid var(--color-light);
    --border-radius: 65px;

    --font-family-base: 'Gilroy', sans-serif;

    --container-width: 1440px;
    --container-padding-x: 20px;

    --section-padding-y: 60px;

    --buton-height: 54px;

    --transition-duration: 0.2s;
}