@import 
    'normalize',
    'fonts',
    'mixins',
    'media',
    'variables',
    'utils',
    'globals';

@import 'blocks/button',
        'blocks/burger-button',
        'blocks/cross-button',
        'blocks/_header',
        'blocks/mobile-overlay';
